{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "@AABase//layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
  <p style="text-align: center; font-size: 1.2em;">
    Fort de son expérience en photographie professionnelle depuis 2006, "Atelier Lumière" vous propose désormais la vente et l'achat de photographies d’auteurs en ligne.
  </p>

  <h2 style="margin-top: 1.5em; margin-bottom: 1em;">
	  Les photographies en vedette
  </h2>

  	<div style="width: 100%; display: flex; justify-content: space-around; flex-wrap: wrap;">
    {% for photo in listPhotos %}
      <div style="width: 25em; box-shadow: 0px 0px 3px black; text-align: center; margin-bottom: 3em;">
        <a href="{{ path('photo_voir', {'id': photo.id}) }}" style="color: initial; text-decoration: none;">
          "{{ photo.nom }}"
          par {{ photo.vendeur }}
          le {{ photo.dateCreation|date('d/m/Y') }}
          <br>

          <img
        src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="{{ photo.imageName }}"
        style="
          box-shadow: 0px 0px 2px grey;
          width: 100%;
        "
      />

      <div style="display: flex; justify-content: space-between; flex-wrap: wrap; padding-left: 2%; padding-right: 2%;">
        <div>Prix: {{ photo.prix }} crédits</div>
        <div>{{ photo.nbVues }} vues</div>
      </div>
    </a>
      </div>
    {% else %}
      <p>Aucune photographie disponible</p>
    {% endfor %}
  	</div>

{% endblock %}
